@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Plus+Jakarta+Sans:wght@300;400;700;800&display=swap');

// Font Families
$interfont: 'Inter', sans-serif;
$jakartafont: 'Plus Jakarta Sans', sans-serif;

// Font Size 
$font20: 20px;

//Font Weight
$fontweight400: 400;
$fontweight700: 700;


// Colors Pallete
$purple: #6000E8;
$Darkpurple: #3A008C;
$white: #FFFFFF;
$black: black;


// Website Size
$websiteSize: 88%;